section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Who am i?

                p.
                    I’m Arfah. A community builder at heart. I’ve been building and working on communities all my life from being on the school council to now co-founding MuslamicMakers (A Muslims in tech community). In my day job I’m the community development manager for GDS and cross-government product and delivery communities.  I also helped to start the Muslims at GDS employer network too.  I’ve aided the development of many communitie so I really understand the magic of bringing people together and shaping and sustaining communities. 
                    I live to collaborate and connect unique ideas to achieve big visions that will positively impact the world. I’m a problem solver who can take an idea and help to execute it. My focus is on diversity and inclusion and also helping to create shared understanding and communities to reduce repetition and increase efficiency and create better bonds within organisations. 


    +nav-1("section-2")
